body{
	padding-top: 70px;
}

.jumbotron{
	color:#2E4053;
	
}

.navbar-inverse{
	background: #2E4053 ;
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
}

.navbar-inverse .navbar-brand{
	color:white;
}
